<div class="highlight"><pre>&lt;/p&gt;

&lt;p&gt;选择多行操作                          Ctrl + Shift + L&lt;/p&gt;

&lt;p&gt;选择单词操作，多次往下移              Ctrl + D&lt;/p&gt;

&lt;p&gt;选择一行操作，重复选择下一行          Ctrl + L&lt;/p&gt;

&lt;p&gt;注释当前行                            Ctrl + /&lt;/p&gt;

&lt;p&gt;从当前位置开始注释                    Ctrl + Shift + /&lt;/p&gt;

&lt;p&gt;
</pre></div>