<div class="highlight"><pre>&lt;/p&gt;

&lt;p&gt;快速查看方法注释文档          Ctrl + Q&lt;/p&gt;

&lt;p&gt;快速查询类名                   Ctrl + N&lt;/p&gt;

&lt;p&gt;快速查询文件名                Ctrl + Shift + N&lt;/p&gt;

&lt;p&gt;
</pre></div>