<div class="highlight"><pre>选择多行操作                          Ctrl + Shift + L

选择单词操作，多次往下移              Ctrl + D

选择一行操作，重复选择下一行          Ctrl + L

注释当前行                            Ctrl + / 

从当前位置开始注释                    Ctrl + Shift + /
</pre></div>